<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Apis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:switch="${apis}" class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h2 th:case="null">No apis yet!</h2>
      <div th:case="*">
        <h2 class="my-5">Apis</h2>
        <div class="container my-5" id="add-api" style="display: none;" th:insert="~{add-api}"></div>
        <table class="table table-striped table-responsive-md">
          <thead>
          <tr>
            <th>Nome</th>
            <th>Url Base</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="api : ${apis}">
            <td th:text="${api.nome}"></td>
            <td th:text="${api.urlBase}"></td>
            <td><a th:href="@{/edit-api/{id}(id=${api.id})}" class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
            <td><a th:href="@{/delete/{id}(id=${api.id})}" class="btn btn-primary"><i class="fas fa-trash"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <p class="my-5"><button onclick="showCadastrarApi();" class="btn btn-primary"><i class="fas fa-plus"></i></button></p>
    </div>
  </div>
</div>
<script>
  function showCadastrarApi() {
    document.getElementById("add-api").style.display = 'block';
  }
</script>
</body>
</html>